streamlit==1.36.0
pandas
openpyxl
requests
python-dotenv
PyPDF2
pypdf
python-docx
transformers
accelerate
sentencepiece
sentence-transformers
langchain
langchain-community
langchain-text-splitters
huggingface-hub
openai
